.leaflet-container {
  display: flex;
  width: 80%;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: horizontal;
}

.patient-list {
  display: flex;
  flex-direction: column;
  width: 20%;
  max-height: 100vh;
  overflow-y: scroll;
}

.patient-list::-webkit-scrollbar {
  display: none;
}

.btn-patient {
  width: 100%;
  height: max-content;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  width: inherit;
  background-color: cadetblue;
}